In [1]:
from utils import load_mch
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

/home/md703/toast/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
/home/md703/toast/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [2]:
df, header = load_mch("output/quicktest/mcx_output/quicktest_850_H.mch")

In [3]:
df

array([[ 1.00000000e+00,  7.90000000e+01,  2.74525940e+02, ...,
        -3.43532294e-01,  8.81161928e-01, -3.24867964e-01],
       [ 1.00000000e+00,  1.09000000e+02,  4.07793213e+02, ...,
         1.03652641e-01,  9.91974890e-01, -7.24011809e-02],
       [ 3.00000000e+00,  1.25000000e+02,  4.86658936e+02, ...,
         8.28073084e-01, -7.39009306e-02, -5.55728018e-01],
       ...,
       [ 1.00000000e+00,  1.94000000e+02,  7.61835449e+02, ...,
        -5.45987844e-01,  4.35201913e-01, -7.15888679e-01],
       [ 2.00000000e+00,  2.44000000e+02,  1.15029785e+03, ...,
        -1.68524012e-01, -6.62730992e-01, -7.29648709e-01],
       [ 1.00000000e+00,  2.27000000e+02,  9.22699158e+02, ...,
         8.37837160e-01, -8.03519636e-02, -5.39974511e-01]])

In [4]:
df.shape

(581035, 9)

In [7]:
df = pd.DataFrame(df)

In [9]:
df.describe()

,0,1,2,3,4,5,6,7,8
count,581035.000000,581035.000000,581035.000000,581035.000000,581035.000000,581035.000000,581035.000000,581035.000000,581035.000000
mean,1.568480,223.660155,929.962974,98.816655,74.997582,-0.000061,0.038465,0.000617,-0.691538
std,0.727881,137.766485,561.248331,11.916486,2.495226,0.000000,0.486062,0.485554,0.219721
min,1.000000,12.000000,100.803825,85.000648,70.000320,-0.000061,-0.999458,-0.999180,-0.999999
25%,1.000000,124.000000,523.152222,89.125881,72.984127,-0.000061,-0.346145,-0.387978,-0.876844
50%,1.000000,190.000000,789.369934,92.889618,74.995377,-0.000061,0.051065,0.000418,-0.730154
75%,2.000000,288.000000,1189.307678,106.596069,77.007404,-0.000061,0.431864,0.390375,-0.538514
max,3.000000,1095.000000,4240.062988,126.998192,79.998535,-0.000061,0.999379,0.999720,-0.009851

In [10]:
header

{'version': 1,
 'maxmedia': 1,
 'detnum': 3,
 'colcount': 9,
 'total_photon': 2000000000,
 'detected': 581035,
 'saved_photon': 581035,
 'unitmm': 0.25,
 'seed_byte': 0,
 'normalize': 1.600000023841858,
 'respin': 1}

In [12]:
df, header = load_mch("output/quicktest/mcx_output/quicktest_700.mch")
df.shape, header

((10980, 13),
 {'version': 1,
  'maxmedia': 5,
  'detnum': 3,
  'colcount': 13,
  'total_photon': 20000000,
  'detected': 10980,
  'saved_photon': 10980,
  'unitmm': 0.25,
  'seed_byte': 0,
  'normalize': 160.0,
  'respin': 1})

In [13]:
df = pd.DataFrame(df)
df.mean()

0       1.878415
1      38.973224
2       4.121729
3       5.366428
4      52.974882
5      21.406726
6       5.371510
7     103.965143
8      74.991504
9      -0.000061
10      0.182334
11      1.000000
12     -0.673905
dtype: float64

In [14]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2.0,29.0,2.886456,4.039504,9.401902,27.691898,0.000000,108.748062,76.894203,-0.000061,0.888741,1.0,-0.431393
1,2.0,14.0,3.197761,5.270757,19.269804,7.544571,0.000000,102.132492,75.262108,-0.000061,0.034444,1.0,-0.938341
2,1.0,36.0,2.599865,3.639811,10.297681,29.635948,5.375427,88.748161,71.880363,-0.000061,0.435709,1.0,-0.853205
3,3.0,31.0,2.756860,3.859605,19.049202,27.393753,0.000000,126.316872,76.678391,-0.000061,0.280211,1.0,-0.626087
4,1.0,16.0,2.776021,3.886429,39.357780,12.421786,0.000000,93.212181,77.607994,-0.000061,0.371572,1.0,-0.596819

In [39]:
df, header = load_mch("output/quicktest/mcx_output/quicktest_700.mch")
df = pd.DataFrame(df)
df.head(5), header

(          0          1          2          3          4          5   \
 0   1.000000  15.000000   3.020712   5.316703  12.918086  12.179511
 1  12.000000  13.272984   4.685246  11.715032   9.609150   0.000000
 2  11.338808  15.874330  11.260224  32.363228   0.594280  26.280678
 3  22.615940  57.122978  23.264250   0.000000  29.368170  18.555676
 4  46.995682  76.617928   0.000000  25.683878  17.816254  -0.000015

           6          7          8         9          10         11         12  \
 0   0.000000  86.908028  77.106018 -0.000061   0.853200  -0.190191  -0.485672
 1  91.951584  71.937782  -0.000061  0.919783   0.184927  -0.346122   2.000000
 2  78.183815  -0.000061   0.856524  0.084284  -0.509178   3.000000  28.000000
 3  -0.000061  -0.054617  -0.337457 -0.939755   2.000000  15.000000  12.179986
 4   0.936907   0.275960  -0.214595  2.000000  17.000000  34.233467  40.445515

            13
 0    1.000000
 1   32.000000
 2   23.690506
 3   17.681677
 4  146.403137  ,
 {'version': 1,
  'maxmedia': 5,
  'detnum': 3,
  'colcount': 14,
  'total_photon': 20000000,
  'detected': 10817,
  'saved_photon': 10817,
  'unitmm': 0.25,
  'seed_byte': 0,
  'normalize': 160.0,
  'respin': 1})

## 測試train data

In [98]:
ref = []

In [96]:
path = "output/quicktest/mcx_output/quicktest_700.mch"
df, header = load_mch(path)
df = pd.DataFrame(df)
df.columns = ["idx", "scatter", "m0", "m1", "m2", "m3", "m4", "x", "y", "z", "dx", "dy", "dz", "weight"]
df.head(5), header

(   idx  scatter         m0         m1         m2   m3   m4          x  \
 0  1.0   3744.0  34.579288  25.702003  18.105782  0.0  0.0  89.602051
 1  1.0   8050.0  39.408085  21.976049  46.538319  0.0  0.0  88.563774
 2  1.0   6563.0  52.658947  43.899536  31.186853  0.0  0.0  87.536385
 3  1.0   2022.0  56.093063  36.488575   2.802624  0.0  0.0  87.292313
 4  1.0    510.0  34.648933  10.621715   0.000000  0.0  0.0  85.999237

            y         z        dx        dy        dz  weight
 0  78.646362 -0.000061 -0.776454 -0.583919 -0.236976     1.0
 1  78.935432 -0.000061 -0.810775 -0.215861 -0.544102     1.0
 2  79.180534 -0.000061  0.052974  0.558874 -0.827559     1.0
 3  78.507118 -0.000061 -0.762700  0.039080 -0.645571     1.0
 4  75.137360 -0.000061  0.958361  0.208422 -0.195203     1.0  ,
 {'version': 1,
  'maxmedia': 5,
  'detnum': 3,
  'colcount': 14,
  'total_photon': 20000000,
  'detected': 298,
  'saved_photon': 298,
  'unitmm': 0.25,
  'seed_byte': 0,
  'normalize': 160.0,
  'respin': 1})

In [97]:
df.mean()

idx            1.322148
scatter    46500.714765
m0            36.754220
m1            34.629887
m2           290.234411
m3            65.988644
m4             0.044348
x             94.570461
y             75.019788
z             -0.000061
dx             0.076849
dy            -0.011751
dz            -0.676520
weight         1.000000
dtype: float64

In [94]:
ref += [df.weight.sum()/2e7]
ref

[4.679070440690397e-06, 4.531349241910163e-06, 4.521452688607084e-06]

In [95]:
np.std(ref)/np.mean(ref)

0.015747830369956757

1.0007075047725566e-08

In [77]:
path = "output/quicktest/mcx_output/quicktest_700.mch"
df, header = load_mch(path)
df = pd.DataFrame(df)
df.columns = ["idx", "scatter", "m0", "m1", "m2", "m3", "m4", "x", "y", "z", "dx", "dy", "dz", "weight"]
df.head(5), header

(   idx  scatter        m0        m1         m2         m3   m4           x  \
 0  1.0      8.0  3.039516  4.656096  10.642343  12.835475  0.0   92.568016
 1  3.0     22.0  2.651176  3.734482   8.543200  35.546619  0.0  120.602921
 2  3.0     32.0  2.706901  3.789870   8.679573  31.952274  0.0  122.814690
 3  1.0     25.0  2.608977  3.652569  10.221845  28.403709  0.0   86.222160
 4  1.0     22.0  6.249242  8.744296  22.324293  18.669756  0.0   88.797058

            y         z        dx        dy        dz        weight
 0  70.733086 -0.000061  0.761081 -0.419436 -0.494803  2.608575e-04
 1  76.996780 -0.000061  0.623901 -0.099278 -0.775172  4.293349e-09
 2  73.009758 -0.000061  0.661678  0.277156 -0.696683  2.526674e-08
 3  72.524353 -0.000061  0.536594 -0.097880 -0.838145  1.307219e-07
 4  70.770370 -0.000061 -0.309392 -0.817741 -0.485361  2.114546e-06  ,
 {'version': 1,
  'maxmedia': 5,
  'detnum': 3,
  'colcount': 14,
  'total_photon': 20000000,
  'detected': 10757,
  'saved_photon': 10757,
  'unitmm': 0.25,
  'seed_byte': 0,
  'normalize': 160.0,
  'respin': 1})

In [78]:
ref += [df.weight.sum()/2e7]
ref

[6.488853908851002e-07,
 6.551558936683211e-07,
 6.997272688091169e-07,
 6.622988582822998e-07,
 6.938463238541156e-07,
 6.744012558850267e-07]

In [79]:
np.std(ref)/np.mean(ref)

0.028238383952221714

In [84]:
mua = np.array([0.1, 0.1, 0.1, 0.5, 0])
pl = df.iloc[:, 2:7].values
np.exp(np.matmul(-pl, mua))

array([2.60858347e-04, 4.29336262e-09, 2.52668771e-08, ...,
       6.19157760e-10, 7.21129246e-08, 5.01056011e-09])

In [35]:
from struct import unpack

f = open(path, 'rb')
mch_data = []
header = []
photon_seed = []
# while True:
# the first 4 byte in a mch file is always 'MCXH'
buffer_ = f.read(4)
if not buffer_:
    print('break')
elif buffer_ != b'MCXH':
    raise Exception("It might not be a mch file!")

version = unpack('i', f.read(4))[0]
maxmedia = unpack('i', f.read(4))[0]
detnum = unpack('i', f.read(4))[0]
colcount = unpack('i', f.read(4))[0]
total_photon = unpack('i', f.read(4))[0]
detected = unpack('i', f.read(4))[0]
saved_photon = unpack('i', f.read(4))[0]
unitmm = unpack('f', f.read(4))[0]
seed_byte = unpack('i', f.read(4))[0]
normalize = unpack('f', f.read(4))[0]
respin = unpack('i', f.read(4))[0]
junk = unpack('4i', f.read(4*4))

In [38]:
version, maxmedia, colcount

(1, 5, 15)

In [ ]:
        # data = unpack('%df' % (colcount), f.read(4*colcount))
        data = unpack('%df' % (colcount*saved_photon), f.read(4*colcount*saved_photon))
        data = np.asarray(data).reshape(saved_photon, colcount)
        # number of vortex -> actual length
        data[:, 2:1+maxmedia] = data[:, 2:1+maxmedia] * unitmm
        mch_data.append(data)

        # if "save photon seed" is True
        if seed_byte > 0:

            seeds = unpack('%dB' % (saved_photon*seed_byte), f.read(saved_photon*seed_byte))
            photon_seed.append(np.asarray(seeds).reshape((seed_byte,saved_photon), order='F'))

        if respin > 1:
            total_photon *= respin

        header = {"version": version,
                  "maxmedia": maxmedia,
                  "detnum": detnum,
                  "colcount": colcount,
                  "total_photon": total_photon,
                  "detected": detected,
                  "saved_photon": saved_photon,
                  "unitmm": unitmm,
                  "seed_byte": seed_byte,
                  "normalize": normalize,
                  "respin": respin
                  }

finally:
    f.close()

mch_data = np.asarray(mch_data).squeeze()

if seed_byte > 0:
    photon_seed = np.asarray(photon_seed).transpose((0,2,1)).squeeze()
    return mch_data, header, photon_seed
else:
    return mch_data, header